.lists{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin: auto;
    margin-top: 10%;
}
.userForm{
    width: 60 vw;
    height:20vh ;
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    margin-top: 5%;
}
.userForm input{
    font-size: 1.5rem;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
}
.userForm input:focus{
    background-color: aquamarine;
    color: blueviolet;
}
.userForm button{
font-size: 1rem;
padding: 5px 40px;
border-radius: 15px;
}