h2 {
  color: red;
}
.expenseDiv {
  background-color: #f2fc04;
  padding: 5px;
  border-radius: 3px;
  box-shadow: 2px 2px 2px black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 600;
  color: rgb(47, 0, 255);
  margin-bottom: 8px;
}
.amount {
  background-color: lightseagreen;
  padding: 3px 10px;
  border: 1px solid red;
  border-radius: 3px;
  font-weight: 600;
  color: blue;
}
.date {
  font-weight: 500;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: blueviolet;
  padding: 3px 8px;
  border: 1px solid darkmagenta;
  border-radius: 3px;
}
